<div
  #card
  class="card shadow-md bg-bgSecondary dark:bg-bgDarkSecondary w-80 select-none py-5 rounded-md px-4 special-cursor cursor-pointer"
  (mousemove)="onMouseMove($event)"
  (mouseleave)="onMouseLeave()"
>
  <div class="grid grid-cols-3 special-cursor cursor-pointer">
    <div class="relative w-28 col-span-1 special-cursor cursor-pointer">
      <img [src]="imageBg" alt="ring" class="special-cursor cursor-pointer" />
      <img
        class="absolute top-[21px] right-[42px] special-cursor cursor-pointer"
        [src]="image"
        alt="serive image"
        z
        srcset=""
      />
    </div>
    <div class="col-span-2 relative ml-4 special-cursor cursor-pointer">
      <h2
        class="text-2xl font-medium font-jost special-cursor cursor-pointer capitalize"
      >
        {{ title }}
      </h2>
    </div>
  </div>
  <div>
    <p
      class="mt-2 text-slate-700 dark:text-slate-200 text-pretty line-clamp-2 special-cursor cursor-pointer capitalize"
    >
      {{ description }}
    </p>
    <div class="flex justify-end items-center">
      <a class="text-primary dark:text-secondary">Read More</a>
    </div>
  </div>
</div>
