<div class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary">
    <div
      class="xmp grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-8 gap-4"
      data-aos="fade-up"
    >
      <tag97-feature-card
        [ringImage]="'assets/future-1.png'"
        [icon]="'fa-solid fa-computer'"
        [title]="'Frontend Development'"
        [description]="
          ' Let us deal with the complexity of the modern front-end development and create amazing website and user experience for you.'
        "
        data-aos="fade-up"
      ></tag97-feature-card>
      <tag97-feature-card
        [ringImage]="'assets/future-2.png'"
        [icon]="'fa-solid fa-database'"
        [title]="'Backend Development'"
        [description]="
          ' Need to build a fast, scalable and secure web application. Our experienced developers are here to help.'
        "
        data-aos="fade-up"
      ></tag97-feature-card>
      <tag97-feature-card
        [ringImage]="'assets/future-3.png'"
        [icon]="'fa-solid fa-mobile-screen-button'"
        [title]="'App Development'"
        [description]="
          'We offer a range of mobile apps that not only streamline lifestyle but also boost the business.'
        "
        data-aos="fade-up"
      ></tag97-feature-card>
    </div>
  </div>