<div id="Feature" class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary">
  <div
    class="xmp grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-8 gap-5"
    data-aos="fade-up"
  >
    <tag97-feature-card
      [ringImage]="'assets/future-1.png'"
      [icon]="'fa-regular fa-lightbulb text-primary dark:text-secondary'"
      [title]="'Our Vision'"
      [description]="
        ' To be a global leader in innovative software solutions, empowering businesses to achieve digital excellence and drive sustainable growth.'
      "
      data-aos="fade-up"
    ></tag97-feature-card>
    <tag97-feature-card
      [ringImage]="'assets/future-2.png'"
      [icon]="'fa-regular fa-flag text-primary dark:text-secondary'"
      [title]="'Our Mission'"
      [description]="
        ' Our mission is to deliver high-quality, custom software that meets the unique needs of our clients. We strive to foster innovation, uphold the highest standards of integrity, and create value through technology.'
      "
      data-aos="fade-up"
    ></tag97-feature-card>
    <tag97-feature-card
      [ringImage]="'assets/future-3.png'"
      [icon]="'fa-solid fa-bullseye text-primary dark:text-secondary'"
      [title]="'Our Goal'"
      [description]="
        'Our goal is to build long-term partnerships with our clients by consistently delivering exceptional software solutions that drive their business success and enhance their competitive edge.'
      "
      data-aos="fade-up"
    ></tag97-feature-card>
  </div>
</div>
