@if(loader){

<tag97-loader></tag97-loader>

}@else {
<div [ngClass]="{ dark: darkTheme }">
  <tag97-custom-cursor></tag97-custom-cursor>
  <tag97-header></tag97-header>
  <main class="dark:text-white text-black">
    <router-outlet></router-outlet>
  </main>
  <tag97-footer> </tag97-footer>

  <!-- theme switch START -->
  <label
    class="ui-switch fixed top-2/4 left-0 z-20 cursor-pointer -rotate-90 special-cursor"
  >
    <input
      type="checkbox"
      [(ngModel)]="darkTheme"
      (ngModelChange)="themeChange()"
      [checked]="darkTheme"
    />
    <div class="slider special-cursor">
      <div class="circle special-cursor"></div>
    </div>
  </label>
  <!-- theme switch END -->

  <!-- to-top Button Start -->

  <a
    class="justify-center items-center rounded-full cursor-pointer border-none fixed bottom-9 right-1 z-20 special-cursor text-slate-700 dark:text-slate-300 rotate-90"
    [ngClass]="isScrolled ? 'flex' : 'hidden'"
    (click)="scrolltoTop()"
  >
    TO TOP</a
  >
  <!-- to-top Button End -->
</div>
}
