<div [ngClass]="{ dark: darkTheme }">
  <tag97-header></tag97-header>

  <main class="dark:text-white text-black">
    <!-- 1st Section Start -->
    <div
      class="mt-12 lg:mt-0 flex items-center justify-center lg:h-screen dark:bg-[url('/assets/1sectionDark.jpg')] bg-[url('/assets/1sectionLight.jpg')] bg-cover"
    >
      <div
        class="xmp font-jost flex lg:flex-row flex-col-reverse justify-start lg:justify-between items-center"
      >
        <div class="space-y-3 pb-3 select-none lg:w-2/4 w-full">
          <p class="text-primary font-jost text-2xl">Welcome to</p>
          <h1 class="text-6xl font-jost">Tag97</h1>
          <p class="mt-3 text-xl">
            A <span class="text-green-500">Creative Web Designers</span> from
            <span class="text-violet-500">India</span>
          </p>
          <p class="text-base">
            we are creative web designer based in India, and we ary very
            passionate and dedicated to our work.
          </p>
          <div
            class="flex h-16 space-x-4 lg:justify-start justify-center items-center"
          >
            <div
              class="bg-primary px-4 py-1 rounded-full cursor-pointer hover:bg-transparent hover:border-primary hover:border m-1 text-white hover:text-black dark:hover:text-white"
            >
              About Us
            </div>
            <div>
              <span class="mr-4 cursor-pointer text-base"
                ><i class="fa-brands fa-facebook-f"></i
              ></span>
              <span class="mr-4 cursor-pointer text-base"
                ><i class="fa-brands fa-linkedin"></i
              ></span>
              <span class="mr-4 cursor-pointer text-base"
                ><i class="fa-brands fa-instagram"></i
              ></span>
              <span class="mr-4 cursor-pointer text-base"
                ><i class="fa-brands fa-twitter"></i
              ></span>
            </div>
          </div>
        </div>
        <div class="relative">
          <img
            class="bg-cover lg:max-h-96 max-h-64 select-none"
            src="/assets/asset 1.png"
            alt="home page Image"
            srcset=""
          />
          <div class="lg:block hidden">
            <img
              class="absolute animate-bounce left-0 top-5 h-12"
              src="assets/angular-icon.svg"
              alt="technology svg"
            />
            <img
              class="absolute animate-bounce h-12 right-0 top-2/4"
              src="assets/flutter-icon.svg"
              alt="technology svg"
            />
            <img
              class="absolute animate-bounce h-12 left-0 bottom-3"
              src="assets/javascript-icon.svg"
              alt="technology svg"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- 1st section End -->

    <!-- 2nd Section Start -->
    <div class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary ">
      <div class="xmp grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-8">
        <tag97-feature-card
          [ringImage]="'assets/future-1.png'"
          [icon]="'fa-regular fa-lightbulb'"
          [title]="'Pixel Perfect'"
          [description]="
            'Most common methods for designing websites that work well on desktop is responsive and adaptive design.'
          "
        ></tag97-feature-card>
        <tag97-feature-card
          [ringImage]="'assets/future-2.png'"
          [icon]="'fa-solid fa-brush'"
          [title]="'Pixel Perfect'"
          [description]="
            'Most common methods for designing websites that work well on desktop is responsive and adaptive design.'
          "
        ></tag97-feature-card>
        <tag97-feature-card
          [ringImage]="'assets/future-3.png'"
          [icon]="'fa-solid fa-bullseye'"
          [title]="'Pixel Perfect'"
          [description]="
            'Most common methods for designing websites that work well on desktop is responsive and adaptive design.'
          "
        ></tag97-feature-card>
      </div>
    </div>
    <!-- 2nd Section End -->

    <!-- 3rd section Start -->
    <div class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative">
      <div
        class="xmp flex lg:flex-row flex-col gap-x-3 justify-between items-center"
      >
        <div class="relative flex flex-col items-center justify-center flex-1">
          <img
            class="bg-cover lg:max-h-96 max-h-64 select-none"
            src="/assets/asset 5.jpeg"
            alt="home page Image"
            srcset=""
          />

          <div
            class="lg:absolute left-0 top-3.5 flex flex-col lg:flex-row justify-center py-2 items-center shadow-lg rounded-md bg-bgPrimary dark:bg-bgDarkSecondary my-4 w-[85vw] lg:w-auto"
          >
            <div class="text-green-500 font-jost text-4xl font-semibold">
              18
            </div>
            <div class="lg:w-[50%] font-jost text-xl ml-2">
              Years of Success
            </div>
          </div>
          <div
            class="lg:absolute right-0 bottom-1/4 flex flex-col lg:flex-row justify-center py-2 items-center shadow-lg rounded-md bg-bgPrimary dark:bg-bgDarkSecondary my-4 w-[85vw] lg:w-auto"
          >
            <div class="text-violet-500 font-jost text-4xl font-semibold">
              28
            </div>
            <div class="lg:w-[50%] font-jost text-xl ml-2">Total Project</div>
          </div>
        </div>
        <div class="xpm flex-1">
          <div
            class="leading-[20px] flex flex-col lg:items-start items-center justify-center line-clamp-6"
          >
            <h4
              class="font-jost text-2xl text-primary mt-4 lg:text-start text-center"
            >
              We are web Developer
            </h4>
            <h1 class="lg:text-4xl text-3xl lg:text-start text-center">
              We Can Design Anything You Want
            </h1>
            <p
              class="text-slate-700 mt-6 dark:text-slate-200 lg:text-start text-pretty text-justify"
            >
              Hello there! We are web designer, and we are very passionate and
              dedicated to my work. With 20 years experience as a professional
              web developer, we have acquired the skills and knowledge necessary
              to make your project a success. we enjoy every step of the design
              process, from discussion and collaboration.
            </p>

            <button
              class="px-5 my-3 text-xl text-white bg-primary rounded-full mt-8"
            >
              Contact Us
            </button>
          </div>
        </div>
      </div>
      <div class="hidden lg:block">
        <img
          class="absolute top-0 left-7 select-none"
          src="assets/asset 6.png"
          alt=""
        />
        <img
          class="absolute bottom-0 right-7 select-none"
          src="assets/asset 7.png"
          alt=""
        />
      </div>
    </div>
    <!-- 3rd section End -->

    <!-- 4th section Start -->
    <div class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative">
      <div class="xmp">
        <div class="flex justify-center items-center flex-col leading-9">
          <h6 class="text-primary text-2xl font-jost text-center">Portfolio</h6>
          <h2 class="text-3xl font-jost text-center">Our Amazing Works</h2>
          <p
            class="text-slate-700 dark:text-slate-200 leading-normal text-center"
          >
            Most common methods for designing websites that work well on desktop
            is responsive and adaptive design
          </p>
        </div>
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-7 gap-4 mt-8"
        >
          @for (item of [0,0,0,0,0,]; track $index) {
          <a
            class="mt-8 shadow-md bg-bgPrimary dark:bg-bgDarkSecondary rounded-md hover:scale-105 transition-all duration-500 cursor-pointer z-10"
            href="https://tag97.com/"
            target="_blank"
          >
            <div class="">
              <img
                class="rounded-t-md"
                src="https://firebasestorage.googleapis.com/v0/b/zaidportfolio-6f577.appspot.com/o/project_images%2Fnks-Home.png?alt=media&token=9c101b4e-edbd-49a3-9cdf-e7bf28d84928"
                alt=""
                srcset=""
              />
            </div>
            <div class="p-2">New King Shoes</div>
          </a>
          }
        </div>
      </div>
      <div class="hidden lg:block">
        <img
          class="absolute top-16 left-7 select-none"
          src="assets/asset 11.png"
          alt=""
        />
        <img
          class="absolute bottom-16 right-7 select-none"
          src="assets/asset 12.png"
          alt=""
        />
      </div>
    </div>
    <!-- 4th section End -->

    <!-- 5th section Start -->
    <div class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative">
      <div
        class="xmp flex lg:flex-row flex-col gap-x-3 justify-between items-start"
      >
        <div class="flex-1">
          <div
            class="leading-[20px] flex flex-col items-start justify-center line-clamp-6"
          >
            <h4
              class="font-jost text-xl sm:text-3xl text-primary mt-4 text-start"
            >
              Our work process
            </h4>
            <h1 class="text-2xl sm:text-4xl text-start">
              Discover New Idea With Us!
            </h1>
            <ul
              class="mt-4 mb-8 leading-4 text-slate-700 dark:text-slate-200 text-lg"
            >
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>Planning Based On
                Requirement
              </li>
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>System & Software
                Design
              </li>
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>Business Logic
                Implementation
              </li>
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>End To End
                Testing
              </li>
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>Deliver Quality
                Product
              </li>
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>Maintenance &
                Updates
              </li>
            </ul>
          </div>
        </div>

        <div class="flex-1 flex flex-col items-center justify-center">
          <img
            class="bg-cover sm:max-h-96 max-h-64 select-none z-10"
            src="/assets/asset 13.jpeg"
            alt="home page Image"
            srcset=""
          />
        </div>
      </div>

      <div class="hidden lg:block">
        <img
          class="absolute bottom-0 right-0 select-none"
          src="assets/asset 23.png"
          alt=""
        />
      </div>
    </div>
    <!-- 5th section END -->

    <!-- 6th section Start -->
    <div class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative">
      <div class="xmp">
        <div class="flex justify-center items-center flex-col leading-9">
          <h6 class="text-primary text-2xl font-jost text-center">Services</h6>
          <h2 class="text-3xl font-jost text-center">What I Do for Clients</h2>
          <p
            class="text-slate-700 dark:text-slate-200 leading-normal text-center"
          >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
            sapiente aut laboriosam deserunt reiciendis.
          </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-8">
          <tag97-service-card
            class="z-10"
            title="UI & Graphic Design"
            description="We are using latest tool for design and develpoment, Like HTML, CSS & SCSS."
            image="assets/services/design-development.svg"
            imageBg="assets/asset s1.png"
          ></tag97-service-card>

          <tag97-service-card
            title="Website Development"
            description="In the process of Web Development, Developers build web pages and applications for either the Intranet, a private network."
            image="assets/services/saving-strategy.svg"
            imageBg="assets/asset s2.png"
          ></tag97-service-card>

          <tag97-service-card
            title="Application Development"
            description="A professional application developer is an impeccable source code creator of the software. Based on the specialized field."
            image="assets/services/growth-strategy.svg  "
            imageBg="assets/asset s3.png"
          ></tag97-service-card>

          <tag97-service-card
            title="Software Development"
            description="The stages are often referred to collectively as the software development life-cycle."
            image="assets/services/digital-marketing.svg"
            imageBg="assets/asset s4.png"
          ></tag97-service-card>

          <tag97-service-card
            title="Development Outsourcing"
            description="Since the outsourced workforce are already experienced and well-versed in the technologies and tools required of the development process."
            image="assets/services/digital-strategy.svg"
            imageBg="assets/asset s1.png"
          ></tag97-service-card>

          <tag97-service-card
            title="Hosting & Deployment"
            description="Deployment is an optional stage in software management where the software is installed on workstations or hosted as an application and accessible to others in a runtime state."
            image="assets/services/digital-marketing.svg"
            imageBg="assets/asset s2.png"
          ></tag97-service-card>
        </div>
      </div>

      <div class="hidden lg:block">
        <img
          class="absolute max-h-96 top-44 left-0 select-none"
          src="assets/asset 22.png"
          alt=""
        />
      </div>
    </div>
    <!-- 6th section END -->

    <!-- 7th section Start -->

    <div class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative">
      <div class="xmp">
        <div class="flex justify-center items-center flex-col leading-9">
          <h6 class="text-primary text-2xl font-jost text-center">
            Contact us
          </h6>
          <h2 class="text-3xl font-jost text-center">
            We Want To Hear From You
          </h2>
          <p
            class="text-slate-700 dark:text-slate-200 leading-normal text-center"
          >
            Please fill out the form on this section to contact with me.
          </p>
          <p
            class="text-slate-700 dark:text-slate-200 leading-normal text-center"
          >
            Or call between 9:00 a.m. and 7:00 p.m., Monday through Friday
          </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 mt-8">
          <div class="flex justify-start flex-col gap-y-4 mb-4">
            <div class="grid grid-cols-12">
              <div
                class="col-span-2 bg-orange-500/15 rounded-full w-[88px] h-[88px] flex justify-center items-center"
              >
                <i class="fa-solid fa-location-dot text-primary text-2xl"></i>
              </div>
              <div class="ml-4 col-span-9 flex flex-col">
                <h1 class="text-2xl">Address</h1>
                <p>
                  207, Jer Firoz Complex, Opp. Mango Market, Bechar Road,
                  Valsad, Gujarat, India
                </p>
              </div>
            </div>
            <div class="grid grid-cols-12">
              <div
                class="col-span-2 bg-green-500/15 rounded-full w-[88px] h-[88px] flex justify-center items-center"
              >
                <i class="fa-solid fa-envelope text-green-500 text-2xl"></i>
              </div>
              <div class="ml-4 col-span-9 flex flex-col">
                <h1 class="text-2xl">Email</h1>
                <p>
                  {{ "contact@tag97.com" }}
                </p>
              </div>
            </div>
            <div class="grid grid-cols-12">
              <div
                class="col-span-2 bg-violet-500/15 rounded-full w-[88px] h-[88px] flex justify-center items-center"
              >
                <i class="fa-solid fa-phone text-violet-500 text-2xl"></i>
              </div>
              <div class="ml-4 col-span-9 flex flex-col">
                <h1 class="text-2xl">Phone</h1>
                <p>+91 84697 99777</p>
              </div>
            </div>
          </div>
          <div>form</div>
        </div>
        <div class="w-full sm:h-96 h-52">
          <iframe
            class="rounded-md"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4440.937141911337!2d72.93149077757167!3d20.613846672004154!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0e958e41c9ac3%3A0xfd03ba19965f966b!2sTAG97!5e0!3m2!1sen!2sin!4v1722339100486!5m2!1sen!2sin"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>

    <!-- 7th section END -->
  </main>
  <tag97-footer></tag97-footer>
</div>

<!-- DELETE this CODE after done switch -->
<h2
  class="fixed top-0 right-0 z-[100000] cursor-pointer"
  (click)="darkTheme = !darkTheme"
>
  switch
</h2>

<!-- DELETE this CODE after done switch -->
