@if(loader){

<tag97-loader></tag97-loader>

}@else {
<div [ngClass]="{ dark: darkTheme }">
  <tag97-toaster *ngIf="showToaster" [status]="toasterStatus"></tag97-toaster>
  <tag97-custom-cursor></tag97-custom-cursor>
  <tag97-header #HeaderComponent></tag97-header>

  <main class="dark:text-white text-black">
    <!-- 1st Section Start -->
    <div
      class="section h-[97vh] lg:mt-0 flex items-center flex-col justify-center lg:h-screen dark:bg-[url('/assets/1sectionDark.jpg')] bg-[url('/assets/1sectionLight.jpg')] bg-cover"
      id="Home"
    >
      <div
        class="xmp font-jost flex lg:flex-row flex-col-reverse justify-start lg:justify-between items-center"
      >
        <div class="space-y-3 pb-3 select-none lg:w-2/4 w-full">
          <p class="text-primary dark:text-secondary font-jost text-2xl">
            Welcome to
          </p>
          <h1 class="text-6xl font-jost">Tag97</h1>
          <p class="mt-3 text-xl">
            A <span class="text-green-500">Creative Web Designers</span> from
            <span class="text-violet-500">India</span>
          </p>
          <p class="text-base">
            we are creative web designer based in India, and we ary very
            passionate and dedicated to our work.
          </p>
          <div
            class="flex h-16 space-x-4 lg:justify-start justify-center items-center"
          >
            <button
              type="submit"
              class="bg-primary dark:bg-secondary rounded-full px-9 py-3 border border-primary dark:border-secondary text-bgPrimary dark:text-bgPrimary hover:bg-transparent hover:dark:bg-transparent hover:text-primary dark:hover:text-secondary text-base"
              (click)="navigate('About')"
            >
              About us
            </button>
            <div>
              <span class="mr-4 cursor-pointer text-base"
                ><i class="fa-brands fa-facebook-f"></i
              ></span>
              <span class="mr-4 cursor-pointer text-base"
                ><i class="fa-brands fa-linkedin"></i
              ></span>
              <span class="mr-4 cursor-pointer text-base"
                ><i class="fa-brands fa-instagram"></i
              ></span>
              <span class="mr-4 cursor-pointer text-base"
                ><i class="fa-brands fa-twitter"></i
              ></span>
            </div>
          </div>
        </div>
        <div class="relative">
          <img
            loading="lazy"
            class="bg-cover lg:max-h-96 max-h-64 select-none"
            src="/assets/asset 1.png"
            alt="home page Image"
            srcset=""
          />
          <div class="lg:block hidden">
            <img
              loading="lazy"
              class="absolute animate-bounce left-0 top-5 h-12"
              src="assets/angular-icon.svg"
              alt="technology svg"
            />
            <img
              loading="lazy"
              class="absolute animate-bounce h-12 right-0 top-2/4"
              src="assets/flutter-icon.svg"
              alt="technology svg"
            />
            <img
              loading="lazy"
              class="absolute animate-bounce h-12 left-0 bottom-3"
              src="assets/javascript-icon.svg"
              alt="technology svg"
            />
          </div>
        </div>
        <div></div>
      </div>
      <div class="flex justify-center items-center">
        <svg viewBox="0 0 1000 1001.0101" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m500 .456c-151 0-273 122-273 273v454c0 151 122 273 273 273s273-122 273-273v-454c0-151-122-273-273-273zm236 727c0 131-106 237-236 237s-236-106-236-237v-454c0-131 106-237 236-237s236 106 236 237zm-99 39-129 130c-5 4-11 4-16 0l-129-130c-5-4-5-11 0-15l26-26c4-4 11-4 15 0l89 89c4 4 11 4 15 0l89-89c4-4 11-4 15 0l26 26c4 4 4 11-1 15z"
          />
        </svg>
      </div>
    </div>

    <!-- 1st section End -->

    <!-- 2nd Section Start -->
    <div class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary">
      <div
        class="xmp grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-8 gap-4"
        data-aos="fade-up"
      >
        <tag97-feature-card
          [ringImage]="'assets/future-1.png'"
          [icon]="'fa-solid fa-computer'"
          [title]="'Frontend Development'"
          [description]="
            ' Let us deal with the complexity of the modern front-end development and create amazing website and user experience for you.'
          "
          data-aos="fade-up"
        ></tag97-feature-card>
        <tag97-feature-card
          [ringImage]="'assets/future-2.png'"
          [icon]="'fa-solid fa-database'"
          [title]="'Backend Development'"
          [description]="
            ' Need to build a fast, scalable and secure web application. Our experienced developers are here to help.'
          "
          data-aos="fade-up"
        ></tag97-feature-card>
        <tag97-feature-card
          [ringImage]="'assets/future-3.png'"
          [icon]="'fa-solid fa-mobile-screen-button'"
          [title]="'App Development'"
          [description]="
            'We offer a range of mobile apps that not only streamline lifestyle but also boost the business.'
          "
          data-aos="fade-up"
        ></tag97-feature-card>
      </div>
    </div>
    <!-- 2nd Section End -->

    <!-- 3rd section Start -->
    <div
      class="section lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative"
      id="About"
    >
      <div
        class="xmp flex lg:flex-row flex-col gap-x-3 justify-between items-center"
      >
        <div
          class="relative flex flex-col items-center justify-center flex-1"
          data-aos="fade-up"
        >
          <img
            loading="lazy"
            class="bg-cover lg:max-h-96 max-h-64 select-none"
            src="/assets/asset 5.jpeg"
            alt="home page Image"
            srcset=""
          />

          <div
            class="lg:absolute left-0 top-3.5 flex flex-col lg:flex-row justify-center py-2 items-center shadow-lg rounded-md bg-bgPrimary dark:bg-bgDarkSecondary my-4 w-[85vw] lg:w-auto"
            data-aos="fade-up"
          >
            <div class="text-green-500 font-jost text-4xl font-semibold">3</div>
            <div class="lg:w-[50%] font-jost text-xl ml-2">
              Years of Success
            </div>
          </div>
          <div
            class="lg:absolute right-0 bottom-1/4 flex flex-col lg:flex-row justify-center py-2 items-center shadow-lg rounded-md bg-bgPrimary dark:bg-bgDarkSecondary my-4 w-[85vw] lg:w-auto"
            data-aos="fade-up"
          >
            <div class="text-violet-500 font-jost text-4xl font-semibold">
              12
            </div>
            <div class="lg:w-[50%] font-jost text-xl ml-2">Total Project</div>
          </div>
        </div>
        <div class="xpm flex-1" data-aos="fade-up">
          <div
            class="leading-[20px] flex flex-col lg:items-start items-center justify-center line-clamp-6"
          >
            <h4
              class="font-jost text-2xl text-primary dark:text-secondary mt-4 lg:text-start text-center"
            >
              We are web Developer
            </h4>
            <h1 class="lg:text-4xl text-3xl lg:text-start text-center">
              We Can Design Anything You Want
            </h1>
            <p
              class="text-slate-700 mt-6 dark:text-slate-200 lg:text-start text-pretty text-justify"
            >
              Hello there! We are web designer, and we are very passionate and
              dedicated to my work. With 20 years experience as a professional
              web developer, we have acquired the skills and knowledge necessary
              to make your project a success. we enjoy every step of the design
              process, from discussion and collaboration.
            </p>

            <button
              type="button"
              class="mt-4 bg-primary hover:text-primary dark:bg-secondary rounded-full px-9 py-3 border border-primary dark:border-secondary text-bgPrimary dark:text-bgPrimary hover:bg-transparent dark:hover:bg-transparent dark:hover:text-secondary"
              (click)="navigate('Contact')"
            >
              Contact Us
            </button>
          </div>
        </div>
      </div>
      <div class="hidden lg:block">
        <img
          loading="lazy"
          class="absolute top-0 left-7 select-none"
          src="assets/asset 6.png"
          alt=""
          data-aos="fade-up"
        />
        <img
          loading="lazy"
          class="absolute bottom-0 right-7 select-none"
          src="assets/asset 7.png"
          alt=""
          data-aos="fade-up"
        />
      </div>
    </div>
    <!-- 3rd section End -->

    <!-- 4th PROJECTS section Start -->
    <div
      class="section lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative"
      id="PortFolio"
    >
      <div class="xmp">
        <div
          class="flex justify-center items-center flex-col leading-9"
          data-aos="fade-up"
        >
          <h6
            class="text-primary dark:text-secondary text-2xl font-jost text-center"
          >
            Portfolio
          </h6>
          <h2 class="text-3xl font-jost text-center">Our Amazing Works</h2>
          <p
            class="text-slate-700 dark:text-slate-200 leading-normal text-center"
          >
            Most common methods for designing websites that work well on desktop
            is responsive and adaptive design
          </p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:gap-9 gap-4 mt-8 overflow-visible">
          @for (project of projects | async; track $index) {
          <!-- [href]="project.link"
            target="_blank" -->
          <div
            class="mt-8 shadow-md bg-bgPrimary dark:bg-bgDarkSecondary rounded-md hover:scale-105 hover:duration-150 duration-150 transition-all cursor-pointer"
            data-aos="fade-up"
          >
            <div class="">
              <img
                loading="lazy"
                class="rounded-t-md"
                [src]="project.imageUrl"
                alt="project Image"
              />
            </div>
            <div class="p-2 text-primary dark:text-secondary text-xl font-jost">
              {{ project.name }}
            </div>
          </div>
          }
        </div>
      </div>
      <div class="hidden lg:block">
        <img
          loading="lazy"
          class="absolute top-16 left-7 select-none"
          src="assets/asset 11.png"
          alt=""
          data-aos="zoom-in"
        />
        <img
          loading="lazy"
          class="absolute bottom-16 right-7 select-none"
          src="assets/asset 12.png"
          alt=""
          data-aos="fade-up"
        />
      </div>
    </div>
    <!-- 4th section End -->

    <!-- 5th section Start -->
    <div class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative">
      <div
        class="xmp flex lg:flex-row flex-col gap-x-3 justify-between items-start"
      >
        <div class="flex-1">
          <div
            class="leading-[20px] flex flex-col items-start justify-center line-clamp-6"
            data-aos="fade-up"
          >
            <h4
              class="font-jost text-xl sm:text-3xl text-primary dark:text-secondary mt-4 text-start"
            >
              Our work process
            </h4>
            <h1 class="text-2xl sm:text-4xl text-start">
              Discover New Idea With Us!
            </h1>
            <ul
              class="mt-4 mb-8 leading-4 text-slate-700 dark:text-slate-200 text-xl"
            >
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>Planning Based On
                Requirement
              </li>
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>System & Software
                Design
              </li>
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>Business Logic
                Implementation
              </li>
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>End To End
                Testing
              </li>
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>Deliver Quality
                Product
              </li>
              <li class="mt-2">
                <i class="fa-regular fa-circle-check mr-2"></i>Maintenance &
                Updates
              </li>
            </ul>
          </div>
        </div>

        <div class="flex-1 flex flex-col items-center justify-center">
          <img
            loading="lazy"
            class="bg-cover sm:max-h-96 max-h-64 select-none z-10"
            src="/assets/asset 13.jpeg"
            alt=""
            data-aos="fade-up"
          />
        </div>
      </div>

      <div class="hidden lg:block">
        <img
          loading="lazy"
          class="absolute bottom-0 right-0 select-none z-0"
          src="assets/asset 23.png"
          data-aos="zoom-in"
        />
      </div>
    </div>
    <!-- 5th section END -->

    <!-- 6th Service section Start -->
    <div
      class="section lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative"
      id="Services"
    >
      <div class="xmp">
        <div
          class="flex justify-center items-center flex-col leading-9"
          data-aos="fade-up"
        >
          <h6
            class="text-primary dark:text-secondary text-2xl font-jost text-center"
          >
            Services
          </h6>
          <h2 class="text-3xl font-jost text-center">What I Do for Clients</h2>
          <p
            class="text-slate-700 dark:text-slate-200 leading-normal text-center"
          >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
            sapiente aut laboriosam deserunt reiciendis.
          </p>
        </div>
        <div class="flex flex-wrap justify-center gap-5 mt-8">
          <tag97-service-card
            class="z-10"
            title="UI & Graphic Design"
            description="We are using latest tool for design and develpoment, Like HTML, CSS & SCSS."
            image="assets/services/design-development.svg"
            imageBg="assets/asset s1.png"
            data-aos="fade-up"
          ></tag97-service-card>

          <tag97-service-card
            title="Website Development"
            description="In the process of Web Development, Developers build web pages and applications for either the Intranet, a private network."
            image="assets/services/saving-strategy.svg"
            imageBg="assets/asset s2.png"
            data-aos="fade-up"
          ></tag97-service-card>

          <tag97-service-card
            title="Application Development"
            description="A professional application developer is an impeccable source code creator of the software. Based on the specialized field."
            image="assets/services/growth-strategy.svg  "
            imageBg="assets/asset s3.png"
            data-aos="fade-up"
          ></tag97-service-card>

          <tag97-service-card
            title="Software Development"
            description="The stages are often referred to collectively as the software development life-cycle."
            image="assets/services/digital-marketing.svg"
            imageBg="assets/asset s4.png"
            data-aos="fade-up"
          ></tag97-service-card>

          <tag97-service-card
            title="Development Outsourcing"
            description="Since the outsourced workforce are already experienced and well-versed in the technologies and tools required of the development process."
            image="assets/services/digital-strategy.svg"
            imageBg="assets/asset s1.png"
            data-aos="fade-up"
          ></tag97-service-card>

          <tag97-service-card
            title="Hosting & Deployment"
            description="Deployment involves installing software on workstations or hosting it as an application. This stage makes the software accessible to users in a runtime state."
            image="assets/services/digital-marketing.svg"
            imageBg="assets/asset s2.png"
            data-aos="fade-up"
          ></tag97-service-card>
        </div>
      </div>

      <div class="hidden lg:block">
        <img
          loading="lazy"
          class="absolute max-h-96 top-44 left-0 select-none"
          src="assets/asset 22.png"
          alt=""
        />
      </div>
    </div>
    <!-- 6th section END -->

    <!-- 7th contact section Start -->
    <tag97-testimonials></tag97-testimonials>
    <!-- 7th contact section END -->

    <!-- 8th contact section Start -->
    <div
      class="section lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative"
      id="Contact"
    >
      <div class="xmp" data-aos="fade-up">
        <div class="flex justify-center items-center flex-col leading-9">
          <h6
            class="text-primary dark:text-secondary text-2xl font-jost text-center"
          >
            Contact us
          </h6>
          <h2 class="text-3xl font-jost text-center">
            We Want To Hear From You
          </h2>
          <p
            class="text-slate-700 dark:text-slate-200 leading-normal text-center"
          >
            Please fill out the form to contact us.
          </p>
          <p
            class="text-slate-700 dark:text-slate-200 leading-normal text-center"
          >
            Or call between 9:00 a.m. and 7:00 p.m., Monday through Friday
          </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-3">
          <div class="flex justify-start flex-col gap-y-4 mb-4 mt-8">
            <div class="grid grid-cols-12" data-aos="fade-up">
              <a
                target="_blank"
                href="https://www.google.com/maps/place/TAG97/@20.6138355,72.93049,17z/data=!3m1!4b1!4m6!3m5!1s0x3be0e958e41c9ac3:0xfd03ba19965f966b!8m2!3d20.6138355!4d72.9330649!16s%2Fg%2F11shh70vnf!5m1!1e4?hl=en&entry=ttu"
                class="cursor-pointer col-span-3 bg-orange-500/15 rounded-full w-[78px] h-[78px] flex justify-center items-center"
              >
                <i
                  class="fa-solid fa-location-dot text-primary dark:text-secondary text-2xl"
                ></i>
              </a>
              <div class="ml-4 col-span-9 flex flex-col">
                <h1 class="text-2xl">Address</h1>
                <a
                  class="cursor-pointer"
                  target="_blank"
                  href="https://www.google.com/maps/place/TAG97/@20.6138355,72.93049,17z/data=!3m1!4b1!4m6!3m5!1s0x3be0e958e41c9ac3:0xfd03ba19965f966b!8m2!3d20.6138355!4d72.9330649!16s%2Fg%2F11shh70vnf!5m1!1e4?hl=en&entry=ttu"
                >
                  207, Jer Firoz Complex, Opp. Mango Market, Bechar Road,
                  Valsad, Gujarat, India
                </a>
              </div>
            </div>
            <div class="grid grid-cols-12" data-aos="fade-up">
              <a
                href="mailto:contact@tag97.com"
                class="col-span-3 bg-green-500/15 rounded-full w-[78px] h-[78px] flex justify-center items-center"
              >
                <i class="fa-solid fa-envelope text-green-500 text-2xl"></i>
              </a>
              <div class="ml-4 col-span-9 flex flex-col">
                <h1 class="text-2xl">Email</h1>
                <a href="mailto:contact@tag97.com">
                  {{ "contact@tag97.com" }}
                </a>
              </div>
            </div>
            <div class="grid grid-cols-12" data-aos="fade-up">
              <a
                href="tel:+918469799777"
                class="col-span-3 bg-violet-500/15 rounded-full w-[78px] h-[78px] flex justify-center items-center"
              >
                <i class="fa-solid fa-phone text-violet-500 text-2xl"></i>
              </a>
              <div class="ml-4 col-span-9 flex flex-col">
                <h1 class="text-2xl">Phone</h1>
                <a href="tel:+918469799777">+91 84697 99777</a>
              </div>
            </div>
          </div>

          <tag97-contact-form
            (statusEvent)="statusChange($event)"
          ></tag97-contact-form>
        </div>
        <div class="w-full sm:h-96 h-80 pt-20" data-aos="fade-up">
          <iframe
            class="rounded-md"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4440.937141911337!2d72.93149077757167!3d20.613846672004154!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0e958e41c9ac3%3A0xfd03ba19965f966b!2sTAG97!5e0!3m2!1sen!2sin!4v1722339100486!5m2!1sen!2sin"
            width="100%"
            height="100%"
            style="border: 0"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="lg:block hidden">
        <img
          loading="lazy"
          class="absolute max-h-96 top-1 left-0 select-none"
          src="assets/asset 38.png"
          alt=""
          data-aos="zoom-in"
        />
        <img
          loading="lazy"
          class="absolute max-h-96 bottom-96 right-0 select-none"
          src="assets/asset 37.png"
          alt=""
          data-aos="fade-up"
        />
      </div>
    </div>
    <!-- 8th section END -->
  </main>
  <tag97-footer> </tag97-footer>
</div>

<!-- _____theme switch START-___________ -->

<label
  class="ui-switch fixed top-2/4 left-0 z-[100000] cursor-pointer -rotate-90"
>
  <input type="checkbox" [(ngModel)]="darkTheme" />
  <div class="slider">
    <div class="circle"></div>
  </div>
</label>

<!-- _____theme switch END-___________ -->

}
