<div
  class="section lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative"
  id="Portfolio"
>
  <div class="xmp">
    <div
      class="flex justify-center items-center flex-col leading-9"
      data-aos="fade-up"
    >
      <h6
        class="text-primary dark:text-secondary text-2xl font-jost text-center"
      >
        Portfolio
      </h6>
      <h2 class="text-3xl font-jost text-center">Our Amazing Works</h2>
      <p class="text-slate-700 dark:text-slate-200 leading-normal text-center">
        Explore our portfolio to see how our responsive and adaptive designs
        ensure exceptional performance across all devices.
      </p>
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:gap-9 gap-4 mt-8 overflow-visible"
    >
      @for (project of projects | async; track $index) {

      <a
        [href]="project.link"
        target="_blank"
        class="mt-8 cursor-pointer z-10 overflow-hidden rounded-md border-t-2 bg-bgPrimary dark:bg-bgDarkSecondary dark:border-slate-700 border-slate-300 shadow-md"
        data-aos="fade-up"
      >
        <img
          loading="lazy"
          class="hover:scale-105 hover:duration-150 transition-all special-cursor"
          [src]="project.imageUrl"
          alt="project Image"
        />

        <div
          class="p-2 text-primary dark:text-secondary text-xl font-jost special-cursor"
        >
          {{ project.name }}
        </div>
      </a>
      }
    </div>
  </div>
  <div class="hidden lg:block overflow-x-hidden">
    <img
      loading="lazy"
      class="absolute top-16 left-7 select-none"
      src="assets/asset 11.png"
      alt=""
      data-aos="zoom-in"
    />
    <img
      loading="lazy"
      class="absolute bottom-5 right-4 select-none overflow-x-hidden"
      src="assets/asset 12.png"
      alt=""
      data-aos="fade-up"
    />
  </div>
</div>
