<div
  class="section lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative"
  id="Services"
>
  <div class="xmp">
    <div
      class="flex justify-center items-center flex-col leading-9"
      data-aos="fade-up"
    >
      <h6
        class="text-primary dark:text-secondary text-2xl font-jost text-center"
      >
        Services
      </h6>
      <h2 class="text-3xl font-jost text-center">What We Do for Clients</h2>
      <p class="text-slate-700 dark:text-slate-200 leading-normal text-center">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
        sapiente aut laboriosam deserunt reiciendis.
      </p>
    </div>
    <div class="flex flex-wrap justify-center gap-5 mt-8">
      @for (service of services; let i = $index; track i) {
      <tag97-service-card
        class="z-10"
        [title]="service.title"
        [description]="service.description"
        [image]="service.image"
        [imageBg]="getBgImage(i)"
        data-aos="fade-up"
        (click)="modalOpen(service)"
      ></tag97-service-card>
      }
    </div>
  </div>

  <div class="hidden lg:block">
    <img
      loading="lazy"
      class="absolute max-h-96 top-44 left-0 select-none"
      src="assets/asset 22.png"
      alt=""
    />
  </div>
</div>

<div
  id="modelConfirm"
  class="fixed z-50 inset-0 bg-gray-900 bg-opacity-60 h-full w-full px-4"
  [ngClass]="isModalOpen ? 'block' : 'hidden'"
>
  <div
    class="relative top-40 mx-auto shadow-xl rounded-md bg-bgPrimary dark:bg-bgDarkPrimary max-w-md"
  >
    <div class="flex justify-between p-4">
      <h1 class="text-primary dark:text-secondary text-2xl font-jost">
        {{ modalTitle }}
      </h1>
      <button
        (click)="isModalOpen = !isModalOpen"
        type="button"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <div class="p-4 text-pretty text-justify text-base">
      {{ modalDescription }}
    </div>
  </div>
</div>
