<div class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative">
    <div
      class="xmp flex lg:flex-row flex-col gap-x-3 justify-between items-start"
    >
      <div class="flex-1">
        <div
          class="leading-[20px] flex flex-col items-start justify-center line-clamp-6"
          data-aos="fade-up"
        >
          <h4
            class="font-jost text-xl sm:text-3xl text-primary dark:text-secondary mt-4 text-start"
          >
            Our work process
          </h4>
          <h1 class="text-2xl sm:text-4xl text-start">
            Discover New Idea With Us!
          </h1>
          <ul
            class="mt-4 mb-8 leading-4 text-slate-700 dark:text-slate-200 text-xl"
          >
            <li class="mt-2">
              <i class="fa-regular fa-circle-check mr-2"></i>Planning Based On
              Requirement
            </li>
            <li class="mt-2">
              <i class="fa-regular fa-circle-check mr-2"></i>System & Software
              Design
            </li>
            <li class="mt-2">
              <i class="fa-regular fa-circle-check mr-2"></i>Business Logic
              Implementation
            </li>
            <li class="mt-2">
              <i class="fa-regular fa-circle-check mr-2"></i>End To End
              Testing
            </li>
            <li class="mt-2">
              <i class="fa-regular fa-circle-check mr-2"></i>Deliver Quality
              Product
            </li>
            <li class="mt-2">
              <i class="fa-regular fa-circle-check mr-2"></i>Maintenance &
              Updates
            </li>
          </ul>
        </div>
      </div>

      <div class="flex-1 flex flex-col items-center justify-center">
        <img
          loading="lazy"
          class="bg-cover sm:max-h-96 max-h-64 select-none z-10"
          src="/assets/asset 13.jpeg"
          alt=""
          data-aos="fade-up"
        />
      </div>
    </div>

    <div class="hidden lg:block">
      <img
        loading="lazy"
        class="absolute bottom-0 right-0 select-none z-0"
        src="assets/asset 23.png"
        data-aos="zoom-in"
      />
    </div>
  </div>