<div
  class="grid grid-cols-3 shadow-md bg-bgPrimary dark:bg-bgDarkSecondary z-10 py-12 pl-7 pr-4 md:h-96 h-auto select-none"
>
  <div class="relative w-28 col-span-1">
    <img class="" [src]="imageBg" alt="" />
    <img
      class="absolute top-[21px] right-[42px]"
      [src]="image"
      alt=""
      srcset=""
    />
  </div>
  <div class="col-span-2 relative ml-4">
    <h2 class="text-2xl font-medium font-jost">{{ title }}</h2>
    <p class="text-slate-700 dark:text-slate-200 text-pretty">
      {{ description }}
    </p>
  </div>
</div>
