<div class="lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative">
  <div class="xmp" data-aos="fade-up">
    <div class="mt-4 flex justify-center items-center flex-col leading-9">
      <h6
        class="text-primary dark:text-secondary text-2xl font-jost text-center"
      >
        BLOGS
      </h6>
    </div>

    <div
      class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4"
      [class.hidden]="isloading"
    >
      @for (blog of blogs$ | async; track $index) {
      <tag97-blog-card
        [title]="blog.title"
        [category]="blog.category"
        [image]="blog.imageUrl"
        [id]="blog.id"
        [updatedDate]="blog.updatedDate"
      ></tag97-blog-card>
      }
    </div>
    <div [class.hidden]="!isloading">
      <tag97-loader></tag97-loader>
    </div>
  </div>
  <div class="hidden lg:block">
    <img
      loading="lazy"
      class="absolute top-20 right-0 select-none -z-0"
      src="assets/asset 6.png"
      alt=""
      data-aos="fade-up"
    />

    <img
      loading="lazy"
      class="absolute bottom-20 left-0 select-none"
      src="assets/asset 38.png"
      alt=""
      data-aos="zoom-in"
    />
  </div>
</div>
