<div
  class="section lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative"
  id="Services"
>
  <div class="xmp">
    <div
      class="flex justify-center items-center flex-col leading-9"
      data-aos="fade-up"
    >
      <h6
        class="text-primary dark:text-secondary text-2xl font-jost text-center"
      >
        Testimonials
      </h6>
      <h2 class="text-3xl font-jost text-center">What Our Clients Say</h2>
      <p class="text-slate-700 dark:text-slate-200 leading-normal text-center">
        Hear from our satisfied clients about how our responsive and adaptive
        design methods have enhanced their digital experiences and driven their
        success.
      </p>
    </div>
    <div class="mt-20 gap-y-5" data-aos="fade-up">
      <!-- navigation="true" loop="true" -->
      <swiper-container pagination="true" pagination-clickable="true">
        @for (testimonial of testimonials; track $index) {
        <swiper-slide>
          <div class="flex flex-col items-center gap-y-9 pb-10 F">
            <div class="sm:w-16 sm:h-16 h-12 w-12 flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Layer_1"
                x="0px"
                y="0px"
                width="100%"
                height="100%"
                viewBox="796 698 200 200"
                enable-background="new 796 698 200 200"
                xml:space="preserve"
                class="svg replaced-svg"
              >
                <g>
                  <path
                    class="fill-primary dark:fill-secondary"
                    d="M885.208,749.739v-40.948C836.019,708.791,796,748.81,796,798v89.209h89.208V798h-48.26 C836.948,771.39,858.598,749.739,885.208,749.739z"
                  />
                  <path
                    class="fill-primary dark:fill-secondary"
                    d="M996,749.739v-40.948c-49.19,0-89.209,40.019-89.209,89.209v89.209H996V798h-48.26 C947.74,771.39,969.39,749.739,996,749.739z"
                  />
                </g>
              </svg>
            </div>
            <div>
              <p
                class="select-none text-lg text-center font-open dark:text-[#B9B5C9] text-[#333333] max-w-[750px] italic z-20"
              >
                {{ testimonial.message }}
              </p>
            </div>
            <div class="flex flex-row justify-center gap-x-6">
              <div>
                <img
                  [src]="testimonial.client.imageUrl"
                  class="h-16 w-16 rounded-full"
                />
              </div>
              <div class="flex justify-center flex-col">
                <h2 class="font-semibold text-xl">
                  {{ testimonial.client.name }}
                </h2>
                <p class="text-slate-700 dark:text-slate-200">
                  {{ testimonial.client.companyName }}
                </p>
              </div>
            </div>
          </div>
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
  <div class="hidden lg:block">
    <img
      src="assets/test-asset 24.png"
      loading="lazy"
      class="absolute max-h-96 top-0 right-0 select-none"
      data-aos="fade-up"
    />
    <img
      src="assets/test-asset 33.png"
      loading="lazy"
      class="absolute max-h-96 -bottom-32 -left-5 select-none z-0"
      data-aos="fade-up"
    />

    <div
      class="absolute w-14 h-14 rounded-full bg-[#f0c45c] top-72 right-1/4 select-none animPulse"
      data-aos="zoom-in"
    ></div>
    <div
      class="absolute w-14 h-14 rounded-full border-[6px] border-[#61CE70] bottom-64 right-28 select-none animPulse"
      data-aos="zoom-in"
    ></div>
    <div
      class="absolute w-6 h-6 rounded-full bg-[#8067f0] bottom-32 right-56 select-none animPulse"
      data-aos="zoom-in"
    ></div>
    <div
      class="absolute w-7 h-7 rounded-full border-[4px] border-[#8067f0] top-80 left-64 select-none animPulse"
      data-aos="zoom-in"
    ></div>
    <div
      class="absolute w-5 h-5 rounded-full bg-[#61CE70] top-96 left-20 select-none animPulse"
      data-aos="zoom-in"
    ></div>
    <div
      class="absolute w-5 h-5 rounded-full bg-[#f0c45c] bottom-40 left-60 select-none animPulse"
      data-aos="zoom-in"
    ></div>
  </div>
  <div class="hidden lg:block">
    <img
      src="assets/testimonials_images/testimonial1.jpeg"
      loading="lazy"
      class="absolute top-60 left-28 select-none rounded-full w-[70px] h-[70px]"
      data-aos="zoom-in"
    />
    <img
      src="assets/testimonials_images/testimonial2.jpeg"
      loading="lazy"
      class="absolute top-96 left-40 select-none rounded-full w-[60px] h-[60px]"
      data-aos="zoom-in"
    />
    <img
      src="assets/testimonials_images/testimonial3.jpeg"
      loading="lazy"
      class="absolute bottom-52 left-9 select-none rounded-full w-14 h-14"
      data-aos="zoom-in"
    />
    <img
      src="assets/testimonials_images/testimonial4.jpeg"
      loading="lazy"
      class="absolute bottom-44 left-80 select-none rounded-full w-9 h-9"
      data-aos="zoom-in"
    />
    <img
      src="assets/testimonials_images/testimonial5.jpeg"
      loading="lazy"
      class="absolute top-80 right-44 select-none rounded-full w-14 h-14"
      data-aos="zoom-in"
    />
    <img
      src="assets/testimonials_images/testimonial6.jpeg"
      loading="lazy"
      class="absolute bottom-44 right-64 select-none rounded-full w-20 h-20"
      data-aos="zoom-in"
    />
    <img
      src="assets/testimonials_images/testimonial7.jpeg"
      loading="lazy"
      class="absolute bottom-64 right-10 select-none rounded-full w-12 h-12"
      data-aos="zoom-in"
    />
  </div>
</div>
