<div
  class="section lg:py-24 py-12 dark:bg-bgDarkPrimary bg-bgPrimary relative"
  id="Contact"
>
  <div class="xmp" data-aos="fade-up">
    <div class="flex justify-center items-center flex-col leading-9">
      <h6
        class="text-primary dark:text-secondary text-2xl font-jost text-center"
      >
        Contact us
      </h6>
      <h2 class="text-3xl font-jost text-center">We Want To Hear From You</h2>
      <p class="text-slate-700 dark:text-slate-200 leading-normal text-center">
        Please fill out the form to contact us.
      </p>
      <p class="text-slate-700 dark:text-slate-200 leading-normal text-center">
        Or call between 9:00 a.m. and 7:00 p.m., Monday through Friday
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-3">
      <div class="flex justify-start flex-col gap-y-4 mb-4 mt-8">
        <div class="grid grid-cols-12 items-center" data-aos="fade-up">
          <a
            target="_blank"
            href="https://www.google.com/maps/place/TAG97/@20.6138355,72.93049,17z/data=!3m1!4b1!4m6!3m5!1s0x3be0e958e41c9ac3:0xfd03ba19965f966b!8m2!3d20.6138355!4d72.9330649!16s%2Fg%2F11shh70vnf!5m1!1e4?hl=en&entry=ttu"
            class="cursor-pointer col-span-3 bg-orange-500/15 rounded-full w-[78px] h-[78px] flex justify-center items-center"
          >
            <i
              class="fa-solid fa-location-dot text-primary dark:text-secondary text-2xl special-cursor"
            ></i>
          </a>
          <div class="ml-4 col-span-9 flex flex-col">
            <h1 class="text-2xl">Address</h1>
            <a
              class="cursor-pointer"
              target="_blank"
              href="https://www.google.com/maps/place/TAG97/@20.6138355,72.93049,17z/data=!3m1!4b1!4m6!3m5!1s0x3be0e958e41c9ac3:0xfd03ba19965f966b!8m2!3d20.6138355!4d72.9330649!16s%2Fg%2F11shh70vnf!5m1!1e4?hl=en&entry=ttu"
            >
              207, Jer Firoz Complex, Opp. Mango Market, Bechar Road, Valsad,
              Gujarat, India
            </a>
          </div>
        </div>
        <div class="grid grid-cols-12 items-center" data-aos="fade-up">
          <a
            href="mailto:contact@tag97.com"
            class="col-span-3 bg-green-500/15 rounded-full w-[78px] h-[78px] flex justify-center items-center"
          >
            <i
              class="fa-solid fa-envelope text-green-500 text-2xl special-cursor"
            ></i>
          </a>
          <div class="ml-4 col-span-9 flex flex-col">
            <h1 class="text-2xl">Email</h1>
            <a href="mailto:contact@tag97.com">
              {{ "contact@tag97.com" }}
            </a>
            <a href="mailto:info@tag97.com.com">
              {{ "info@tag97.com" }}
            </a>
          </div>
        </div>
        <div class="grid grid-cols-12 items-center" data-aos="fade-up">
          <a
            href="tel:+918469799777"
            class="col-span-3 bg-violet-500/15 rounded-full w-[78px] h-[78px] flex justify-center items-center"
          >
            <i
              class="fa-solid fa-phone text-violet-500 text-2xl special-cursor"
            ></i>
          </a>
          <div class="ml-4 col-span-9 flex flex-col">
            <h1 class="text-2xl">Phone</h1>
            <a href="tel:+918469799777">+91 84697 99777</a>
          </div>
        </div>
      </div>
      <tag97-contact-form
        (statusEvent)="handleStatusEvent($event)"
      ></tag97-contact-form>
    </div>
    <div class="w-full sm:h-96 h-80 pt-20" data-aos="fade-up">
      <iframe
        class="rounded-md dark:block hidden"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3549.249068038427!2d72.93306489999998!3d20.6138355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0e958e41c9ac3%3A0xfd03ba19965f966b!2sTAG97!5e1!3m2!1sen!2sin!4v1723033269035!5m2!1sen!2sin"
        width="100%"
        height="100%"
        style="border: 0"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <iframe
        class="rounded-md block dark:hidden"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.3767264489443!2d72.9326681438933!3d20.614176743482496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0e958e41c9ac3%3A0xfd03ba19965f966b!2sTAG97!5e0!3m2!1sen!2sin!4v1723440284846!5m2!1sen!2sin"
        width="100%"
        height="100%"
        style="border: 0"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  <div class="lg:block hidden">
    <img
      loading="lazy"
      class="absolute max-h-96 top-1 left-0 select-none"
      src="assets/asset 38.png"
      alt=""
      data-aos="zoom-in"
    />
    <img
      loading="lazy"
      class="absolute max-h-96 bottom-96 right-0 select-none"
      src="assets/asset 37.png"
      alt=""
      data-aos="fade-up"
    />
  </div>
</div>
