<!-- <div
  class="fixed w-9 h-9 border-[1px] border-primary dark:border-secondary rounded-full pointer-events-none transform transition-transform duration-300 ease-out hidden lg:block z-30"
  id="cursor"
></div>
<div
  class="w-1 h-1 bg-primary dark:bg-secondary rounded-full fixed top-[17px] left-[17px] transform transition-transform duration-150 ease-out hidden lg:block z-30 pointer-events-none"
  id="dot"
></div> -->

<div
  class="fixed w-8 h-8 border-[1.8px] border-primary dark:border-secondary rounded-full pointer-events-none transform transition-transform duration-300 ease-out hidden lg:block z-30"
  id="cursor"
></div>
<div
  class="w-1 h-1 bg-primary dark:bg-secondary rounded-full fixed top-[14.5px] left-[14.5px] transform transition-transform duration-150 ease-out hidden lg:block z-30 pointer-events-none"
  id="dot"
></div>
